body {
    background: url('../img/voting-ballot-box.jpg') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.9;
}


.login-box{
    width: 100%;
    position: fixed;
}

.login-box .login-logo h1{
    font-weight: 600;
    font-size: 1em;
}

.login-box-body{
    max-width: 400px;
    width: 100%;
    margin: 30px auto;
    border-radius: 10px;
    background: linear-gradient(#e66465, #9198e5);
    padding: 40px 30px;
}

.form-group legend{
    text-align: center;
    font-size: 1.8em;
    font-weight: 700;
}
.login-box-body .form-group{
    font-size: 1.1em;
}

.form-group .form-control{
    border-radius: 7px;
}

.form-group .invalid-feedback span{
    font-size: 1.5em;
}

.form-group .form-control-label{
    font-size: 1.3em;
    font-weight: 500;
}

.col  .btn{
    font-size: 1.3em;
    border-radius: 5px;
    margin-bottom: 10px;
}

.content{
    margin-top: 40px;
}

.vote-container{
    max-width: 600px;
    width: 100%;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
}
.vote-container h3{
    border-bottom: 1px solid gray;
    font-weight: 700;
    color: blue;
}


.vote-content{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.3em;
}

.vote-content input{
    font-size: 1.4em;
}

.vote-content img{
    width: 100px;
    height: 100px;
    background-size: cover;
}

.vote-content h4{
    font-weight: 700;
    color: grey;
}

.vote-content h5{
    font-weight: 600;
}

.text-center .btn{
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 25px;
    transition: all ease .3s;
}

.text-center .btn:hover{
    transform: scaleX(1.1);
}

.main-header{
    position: fixed;
    width: 100%;
}

.main-sidebar{
    position: fixed;
    background-color: blue;
}
.main-footer{
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    opacity: 1;
    border-top: 2px solid gray;
    box-shadow: #9198e5;
}
.main-footer .hidden-xs{
    width: 100%;
}
