body {
    background: url('../img/voting-ballot-box.jpg') no-repeat center center fixed;
    background-size: cover;
    object-fit: cover;
}

.login-box{
    width: 100%;
}

.login-box .login-logo h1{
    font-weight: 600;
    font-size: 1em;
}

.login-box-body{
    max-width: 470px;
    width: 100%;
    margin: 20px auto;
    border-radius: 7px;
    padding: 40px 30px;
}


.form-group{
    padding: 7px;
}

.form-group legend{
    text-align: center;
    font-size: 1.8em;
    font-weight: 700;
}

.form-group .form-control{
    border-radius: 7px;
}

/*.form-group .invalid-feedback span{
    font-size: 1.5em;
}*/

.form-group .form-control-label{
    font-weight: 600;
}

.login-box-body .col{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.login-box-body .col .btn{
    border-radius: 5px;
    transition: ease-in .5s;
}

.login-box-body .col .btn:hover{
    transform: scale(1.2);
}

.alert{
    max-width: 470px;
    width: 100%;
    margin: 10px auto;
    border-radius: 5px;
    color: aliceblue;
}

.content{
    margin-top: 20px;
}

.content .row{
    margin-top: 10px;
}

.box-body img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    align-items: center;
}

.box-body td{
    font-weight: 600;
    font-size: 15px;
    color: #250d0d;
}

.vote-container{
    max-width: 700px;
    width: 100%;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 0 8px 8px 8px rgba(48, 6, 237, 0.1);
    padding: 20px;
}

.vote-container .row{
    margin-top: 6px;
}

.vote-container h3{
    border-bottom: 1px solid gray;
    font-weight: 600;
    color: rgb(18, 98, 210);
    font-size: 20px;
    text-align: center;
}
.vote-container .row h4{
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    position: absolute;
    bottom: 0;
}

.vote-container .row p{
    font-weight: normal;
}

.vote-content{
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.vote-content input{
    font-size: 1.2em;
}

.vote-container img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    text-align: center;
}

.vote-content img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    text-align: center;
}

.vote-content h4{
    font-weight: 500;
    color: grey;
    font-size: 16px
}

.text-center .btn{
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 25px;
    transition: all ease .3s;
}

.text-center .btn:hover{
    transform: scale(1.1);
}

.btn-close{
    border: none;
}

.main-header{
    width: 100%;
}

.main-header a{
    text-decoration: none;
    font-weight: 600;
}

.main-sidebar{
    position: fixed;
}

.sidebar .sidebar-menu li a{
    text-decoration: none;
    font-size: 15px;
}

.main-footer .container{
    width: 100%;
    position: relative;
    bottom: 0;
 }