body {
    background: url('../images/voting-ballot-box.jpg') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.8;
}


.login-box{
    width: 100%;
}

.login-box-body{
    max-width: 400px;
    width: 100%;
    margin: 30px auto;
    border-radius: 10px;
    background: linear-gradient(#e66465, #9198e5);
    padding: 40px 30px;
}

.form-group legend{
    text-align: center;
    font-size: 1.8em;
    font-weight: 700;
}
.login-box-body .form-group{
    font-size: 1.1em;
}

.form-group .form-control{
    border-radius: 7px;
}

.form-group .form-control-label{
    font-size: 1.3em;
    font-weight: 500;
}

.col  .btn{
    font-size: 1.3em;
    border-radius: 5px;
    margin-bottom: 10px;
}

.content{
    margin-top: 40px;
}

.vote-container{
    max-width: 600px;
    width: 100%;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
}
.vote-container h3{
    border-bottom: 1px solid gray;
    font-weight: 700;
    color: blue;
}

.vote-content{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.3em;
}

.vote-content img{
    width: 60px;
    height: 60px;
}

.vote-content h4{
    font-weight: 500;
}

.main-header{
    position: fixed;
    width: 100%;
}

.main-sidebar{
    position: fixed;
}
