{% extends 'root.html' %}
{% block content %}
<section class="content">
  <h1 class="page-header text-center title"><b>University Election</b></h1>
  
  <div class="vote-container">
    <h3>President</h3>
    <div class="vote-content">
      <div>
        <img src="" alt="profile">
      </div>
      <h5>Moses Omondi</h5>
    </div>
    <div class="vote-content">
      <div>
        <img src="" alt="profile">
      </div>
      <h5>Another Candidate</h5>
    </div>
    <div class="vote-content">
      <div>
        <img src="" alt="profile">
      </div>
      <h5>Yet Another Candidate</h5>
    </div>
  </div>
  
  <div class="vote-container">
    <h3>Secretary</h3>
    <div class="vote-content">
      <div>
        <img src="" alt="profile">
      </div>
      <h5>Another Candidate</h5>
    </div>
    <div class="vote-content">
      <div>
        <img src="" alt="profile">
      </div>
      <h5>Yet Another Candidate</h5>
    </div>
    <div class="vote-content">
      <div>
        <img src="" alt="profile">
      </div>
      <h5>Yet Another Candidate</h5>
    </div>
  </div>
  
  <div class="vote-container">
    <h3>Academics</h3>
    <div class="vote-content">
      <div>
        <img src="" alt="profile">
      </div>
      <h5>Moses Omondi</h5>
    </div>
    <div class="vote-content">
      <div>
        <img src="" alt="profile">
      </div>
      <h5>Another Candidate</h5>
    </div>
    <div class="vote-content">
      <div>
        <img src="" alt="profile">
      </div>
      <h5>Yet Another Candidate</h5>
    </div>
  </div>
</section>

{% endblock content %}

