{% extends 'root.html' %}
{% block content %}
<section class="content">
  <h1 class="page-header text-center title"><b>University Election</b></h1>
  
  <form method="POST"  action="">
    {{ form.hidden_tag() }}
    {% for position, candidates in grouped_candidates.items() %}
      <div class="vote-container">
        <h3>{{ position.position_name }}</h3>
        {% for candidate in candidates %}
          <div class="vote-content">
            <div class="">
              <input type="radio" name="position_{{ position.id }}" value="{{ candidate.id }}">
            </div>
            <div>
              <img src="{{url_for('static', filename='images/userplaceholder.png')}}" class="img-circle" alt="User Image">
            </div>
            <h4>{{ candidate.first_name }} {{ candidate.last_name }}</h4>
          </div>
        {% endfor %}
      </div>
    {% endfor %}

    <div class="text-center">
      <button type="button" class="btn btn-success btn-flat" id="preview"><i
        class="fa fa-file-text"></i> Preview</button>
      {{form.submit_vote(class="btn btn-primary btn-flat")}}
    </div>
  </form>
  
</section>
{% endblock content %}
